*{
  margin: 0;
  padding: 0;
}

html {
  background: #4bd5ff;
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  padding: 2rem;
  position: relative;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.clock-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: 1.8rem;
  line-height:18px;
  font-weight: bold;
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, .58, 1);
}

.hand.min-hand {
  background: red;
}

.hand.second-hand {
  background: yellow;
}

p span.min {
  color: red;
}
p span.second {
  color: yellow;
}